<!-- 1.뷰역할을 하는 머스테치 파일은 src/main/resource/templates에 위치해야한다.
     2. 뷰 템플릿을 보기 위해서는 컨트롤러로 연결해주어야한다.-->
{{>layouts/header}}
<div class="bg-dark text-white p-5">
    <h3>{{nickname}}, 잘가~</h3>
</div>
{{>layouts/footer}}