<!-- 1.뷰역할을 하는 머스테치 파일은 src/main/resource/templates에 위치해야한다.
     2. 뷰 템플릿을 보기 위해서는 컨트롤러로 연결해주어야한다.-->
{{>layouts/header}} <!-- 뷰 템플릿 파일을 불러올 떄에는 중괄호안에 꺽쇠를 추가해준다.-->
    <!-- content -->
    <div class="bg-dark text-white p-5">
        <h1>{{username}}안녕</h1>
    </div>
    <!--site info-->
{{>layouts/footer}}